@font-face {
  font-family: 'Flight Board';
  src: url('Skyfont.otf') format('opentype');
}

body { 
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#info {
  font-family: sans-serif;
  font-size: 12px;  /* Set the font size */
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
  transition: opacity 0.6s ease-in;
  background: rgba(0, 0, 0, 0.2); /* Black background with 0.5 opacity (50% transparent) */
  color: white; /* Text color */
  padding: 10px; /* Space between the text and the edges of the box */
  border-radius: 10px; /* Rounded corners */
}

#fly, #fly-back, #btn-spin {
  position: absolute;
  top: 10px;
  right: 10px;
}

#fly-back {
  right: 50px;
  display: none;
}

#btn-spin {
  right: 110px;
}

.visible {
  opacity: 1;
}
